/AlreadyRunning.class
/AlreadySuspended.class
/CannotChangeRequester.class
/CannotComplete.class
/CannotResume.class
/CannotStart.class
/CannotStop.class
/CannotSuspend.class
/GeneralException.class
/HistoryNotAvailable.class
/InvalidData.class
/InvalidPerformer.class
/InvalidRequester.class
/InvalidResource.class
/InvalidState.class
/NotAssigned.class
/NotEnabled.class
/NotRunning.class
/NotSuspended.class
/RequesterRequired.class
/ResultNotAvailable.class
/SourceNotAvailable.class
/TransitionNotAllowed.class
/UpdateNotAllowed.class
/WfException.class
